<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="img/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <title>About Tulsa Maps</title>
   <!-- Bootstrap CSS and Google Icons-->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="css/styles.css" /> -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/Projects-Clean.css">
    <link rel="stylesheet" href="assets/css/Team-Grid.css">
    <link rel="stylesheet" href="assets/css/features-boxed.css">
</head>
<body>
     <!-- Logo and Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="https://i.imgur.com/AKPpHjl.png" width="32" height="32" class="d-inline-block align-top" alt=""> Tulsa Maps</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://tulsamaps.herokuapp.com/about">About <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav> 
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="ui-widget">
                      <div class="text-center text-white">
                          <!-- Page heading-->
                          <!-- Search Bar-->
                          <br><br><br>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </header>
    <section class="projects-clean">
        <div class="container" padding="10px">
            <div class="intro">
                <h2 class="text-center">The cultivation of a creative and innovative community like Tulsa inspires big ideas. While we are dreaming big, we have to hold on to the things that make Tulsa awesome in the first place.</h2>
            </div>
            <div class="row g-0">
                <br>
            </div>
        </div>
    </section>
    <!-- How out website works -->
    <!-- Need to add difference icons -->
    <section class="features-boxed">
        <div class="container">
            <div class="intro">
                <div class="row g-0"><br><br></div>
                <h1 class="text-center mb-0">How Tulsa Maps works</h1>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-search icon"></i>
                        <h3 class="name">Search</h3>
                        <p class="description">Go to our homepage and add a business name or keyword to the search bar.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-map-marker icon"></i>
                        <h3 class="name">Select</h3>
                        <p class="description">Click on the markers that pop up near you to learn more about that business.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-shopping-basket icon"></i>
                        <h3 class="name">Support</h3>
                        <p class="description">Keep your dollars in our local economy by supporting members of the community.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Image Showcases-->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-6 order-lg-1 text-white showcase-img" style="background-image: url('assets/img/scotttaylor.png')" loading="eager"></div>
                <div class="col-lg-5 order-lg-2 my-auto showcase-text">
                    <h4 class="roboto mb-0"><br><br>In the future, we hope to include more to customize the Tulsa Maps experience. <br><br>Imagine having gps access to find where your favorite 
                        artists and makers are set up at Mayfest. Or being able to easily check out the race routes when getting prepped for a rowdy weekend at Tulsa Tough.<br><br>
                        There is a lot of room to grow with Tulsa Maps and we want you to grow with us. 
                    </h4>
                </div>
            </div>
            <div class="row g-0">
                <br><br><br>
            </div>
            <div class="row g-0">
                <div class="col-lg showcase-img" style="background-image: url('assets/img/sectionimg.png')" ></div>
            </div>
            <div class="row g-0">
                <br><br><br>
            </div>
        </div>
    </section>
<!-- About the team + profile photos -->
    <div class="container">
        <section class="team-grid">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Tulsa Maps Team</h2>
                    <p class="text-center">Being part of a budding tech industry in the biggest small town in the country is both inspiring and humbling.&nbsp; </p>
                </div>
                <div class="row people">
                    <div class="col-md-4 col-lg-3 item">
                        <div class="box" style="background-image:url(assets/img/jas.jpg)">
                            <div class="cover">
                                <h3 class="name"><strong>Jasmine Choi</strong></h3>
                                <p class="title">“I’ve created websites for small businesses who've never used digital marketing. this is a way for me to support local businesses on a wider scale.”</p>
                                <div class="social"><a href="https://www.linkedin.com/in/jasmine-choi-b9857a214"><i class="fa fa-linkedin"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 item">
                        <div class="box" style="background-image:url(assets/img/lauren.jpg)">
                            <div class="cover">
                                <h3 class="name"><strong>Lauren Dobratz</strong></h3>
                                <p class="title"><strong>“I want to point out the businesses that I believe deserve more attention and appreciation.”</strong></p>
                                <div class="social"><a href="https://www.linkedin.com/in/lauren-dobratz"><i class="fa fa-linkedin"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 item">
                        <div class="box" style="background-image:url(assets/img/3.jpg)">
                            <div class="cover">
                                <h3 class="name"><strong>Kellie Mogg</strong></h3>
                                <p class="title">“Supporting small businesses is my passion. Instant gratification is one of my vices. This is a satisfying blend of the two.” </p>
                                <div class="social"><a href="https://www.linkedin.com/in/kelliemogg"><i class="fa fa-linkedin"></i></a><a href=https://twitter.com/kelliemogg"><i class="fa fa-twitter"></i></a><a href=https://www.instagram.com/kelliemogg/"><i class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 item">
                        <div class="box" style="background-image:url(assets/img/allen.jpg)">
                            <div class="cover">
                                <h3 class="name"><strong>Allen Nicholson</strong></h3>
                                <p class="title">“I want to do more to support local business, but I'm lazy. Having a map do the work helps me be more supportive to local businesses.” </p>
                                <div class="social"><a href="https://www.linkedin.com/in/allen-nicholson"><i class="fa fa-linkedin"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="row">
    </div>
    <!-- Footer for social media and copyright -->
    <footer class="footer-basic">
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a>
            <a href="#!"><i class="bi bi-github fs-3"></i></a>
            <a href="https://twitter.com/holbertonschool"><i class="icon ion-social-twitter"></i></a>
    </div>
            <p class="copyright">© Tulsa Maps 2021</p>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
