<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>tulsamapsabout</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Projects-Clean.css">
    <link rel="stylesheet" href="assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Team-Grid.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
    <!-- Logo and Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="https://i.imgur.com/AKPpHjl.png" width="32" height="32" class="d-inline-block align-top" alt=""> Tulsa Maps</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://tulsamaps.herokuapp.com/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
      </nav> 
      <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="ui-widget">
                      <div class="text-center text-white">
                          <!-- Page heading-->
                          <div class="input-group input-group-lg">
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </header>
<body>
    <section class="projects-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">The cultivation of a creative and innovative community like Tulsa inspires big ideas. While we are dreaming big, we have to hold on to the things that make Tulsa awesome in the first place.&nbsp;</h2>
                <p class="text-center"></p>
            </div>
        </div>
    </section>
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Localizing our economy is just fueling the fire for growth.</h2>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="#">Tulsa Map</a></div>
    </div>
    <div class="container">
        <section class="team-grid">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Tulsa Maps Team</h2>
                    <p class="text-center">Being part of a budding tech industry in the biggest small town in the country is both inspiring and humbling.&nbsp; </p>
                </div>
                <div class="row people">
                    <div class="col-md-4 col-lg-3 item">
                        <div class="box" style="background-image:url(assets/img/1.jpg)">
                            <div class="cover">
                                <h3 class="name"><strong>Jasmine Choi</strong></h3>
                                <p class="title">“I’ve created websites for small businesses who've never used digital marketing. this is a way for me to support local businesses on a wider scale.”</p>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 item">
                        <div class="box" style="background-image:url(assets/img/2.jpg)">
                            <div class="cover">
                                <h3 class="name"><strong>Lauren Dobratz</strong></h3>
                                <p class="title"><strong>“I want to point out the businesses that I believe deserve more attention and appreciation.”</strong></p>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 item">
                        <div class="box" style="background-image:url(assets/img/3.jpg)">
                            <div class="cover">
                                <h3 class="name"><strong>Kellie Mogg</strong></h3>
                                <p class="title">“Supporting small businesses is my passion. Instant gratification is one of my vices. This is a satisfying blend of the two.” </p>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 item">
                        <div class="box" style="background-image:url(assets/img/4.jpg)">
                            <div class="cover">
                                <h3 class="name"><strong>Allen Nicholson</strong></h3>
                                <p class="title">“I want to do more to support local business, but I'm lazy. Having a map do the work helps me be more supportive to local businesses.” </p>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col" style="text-align: center;"><img class="img-fluid" src="assets/img/scotttaylor.jpg" width="400px" loading="eager"></div>
        </div>
    </div>
    <footer class="footer-basic">
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a>
            <p class="copyright">Tulsa Maps © 2021</p>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
</body>

</html>
