<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <script src="js/index.js"></script>
  </head>
  <body>
    <input
    id="pac-input"
    class="controls"
    type="text"
    placeholder="Search Box"
  />
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcLPo0abJIq-EjTVU1FupiFM6vzm0i7Jk&callback=initAutocomplete&libraries=places&v=weekly"></script>
  </body>
</html>
